* html .group {/* IE6 */
	height: 1%;
}
*:first-child+html.group {/* IE7 */
	min-height: 1px;
}

/* Ќа странице 197 книги CSS ручной работы можно найти код JS улучшающий сжатые изображени€*/
*html img.full{
	width: 100%; /* ѕримен€ть стили .full к картинкам дл€  того, чтобы сделать их резиновыми. */
}